* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background: #03396c;
}

h3 {
  color: #011f4b;
  text-align: center;
  padding: 10px;
}

ul {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  padding-top: 40px;
  background: #6497b1;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 40px;
}
/* ----- DATE && CLOCK ----- */

.date,
.clock {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 10px;
}

/* ----- ADD ----- */

.add {
  width: 90%;
  height: 40px;
  margin: 0 auto;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.input--add {
  font-size: 18px;
  width: 80%;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}

.btn--add {
  width: 20%;
  height: 100%;
  text-transform: uppercase;
  background: #ff3b3f;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
}

.counterContainer {
  width: 75%;
  margin-bottom: 40px;
}
.characterCounter,
.zeroCharacterLeft {
  font-size: 12px;
  font-weight: 200;
  text-align: end;
}

.zeroCharacterLeft {
  color: red;
}
/* ----- TO-D0 / COMPLETED ----- */

.list--li,
.completed--li {
  margin: 10px 0;
  background: #b3cde0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  margin-left: 5px;
  width: 5%;
  cursor: pointer;
}

.span--to-do,
.span--completed {
  color: #011f4b;
  width: 75%;
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
}

.span--to-do {
  cursor: pointer;
}
/*
.task--date {
  padding-left: 10px;
  width: 15%;
  font-size: 10px;
  font-weight: 300;
  text-align: start;
}
*/
.btn--confirm,
.delete {
  color: #b3cde0;
  width: 20%;
  height: 21px;
  font-size: 12px;
  text-transform: uppercase;
  background: #03396c;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
}

.span--completed {
  width: 80%;
  text-decoration: line-through;
}

/* ----- RESPONSIVE ----- */

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .btn--confirm,
  .delete {
    font-size: 10px;
    height: 21px;
  }
}
