* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

h3 {
  color: #011f4b;
  text-align: center;
  padding: 10px;
}

ul {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  margin-left: 15vw;
  margin-top: 50px;
  padding-top: 40px;
  background-color: #fff;
  width: 50vw;
  padding-bottom: 40px;
}
/* ----- DATE && CLOCK ----- */

.date,
.clock {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 10px;
}

/* ----- ADD ----- */

.add {
  width: 90%;
  height: 40px;
  margin: 0 auto;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.input--add {
  font-size: 18px;
  width: 80%;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}

.btn--add {
  width: 20%;
  height: 100%;
  text-transform: uppercase;
  background: #ff3b3f;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
}

.counterContainer {
  width: 75%;
  margin-bottom: 40px;
}
.characterCounter,
.zeroCharacterLeft {
  font-size: 12px;
  font-weight: 200;
  text-align: end;
}

.zeroCharacterLeft {
  color: red;
}
/* ----- TO-D0 / COMPLETED ----- */

.list--li,
.completed--li {
  margin: 10px 0;
  background: #b3cde0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  margin-left: 5px;
  width: 5%;
  cursor: pointer;
}

.span--to-do,
.span--completed {
  width: 75%;
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
}

span {
  cursor: pointer;
}
/*
.task--date {
  padding-left: 10px;
  width: 15%;
  font-size: 10px;
  font-weight: 300;
  text-align: start;
}
*/
.btn--confirm,
.delete {
  color: #b3cde0;
  width: 20%;
  height: 21px;
  font-size: 12px;
  text-transform: uppercase;
  background: #03396c;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
}

.span--completed {
  width: 80%;
  text-decoration: line-through;
}

/* ----- RESPONSIVE ----- */

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .btn--confirm,
  .delete {
    font-size: 10px;
    height: 21px;
  }
}

.completed {
  display: none;
}
.today--task {
  display: none;
}

.tomorrow--task {
  display: none;
}
.failed--task {
  display: none;
}
.serach--task {
  display: none;
}
.no--search {
  display: none;
}

.paganation {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 40px;
  background-color: #011f4b;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.sort {
  display: flex;
  justify-content: center;
}

.modal {
  display: block;
  z-index: 200;
  position: fixed;
  top: 50px;
  width: 30vw;
  background-color: greenyellow;
  transition: right 0.5s;
}

.modal--open {
  right: 0;
}
.modal--close {
  right: -35vw;
}
.right--layout {
  background-color: white;
  width: 30vw;
  height: 100vh;
  margin-top: 50px;
  position: fixed;
  right: 0;
}

.container--global {
  display: flex;

  transition: all 1s;
}

.buttons--all {
  display: flex;
  flex-direction: column;
  width: 15vw;
  gap: 20px;
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: #e5e5e5;
  height: 100vh;
}

.navbar {
  display: flex;
  z-index: 200;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 30vw;
  background-color: #ff3b3f;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.btn--all,
.btn--today,
.btn--tomorrow,
.btn--completed,
.btn--failed {
  height: 40px;
  cursor: pointer;
}
#map {
  width: 30vw;
  height: 70vh;
}
