* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

@mixin response($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == l) {
    @media (max-width: 800px) {
      @content;
    }
  }
  @if ($breakpoint == m) {
    @media (max-width: 600px) {
      @content;
    }
  }
}
