.modal {
  display: block;
  z-index: 1000;
  position: fixed;
  top: 9rem;
  width: 50rem;
  height: 14rem;
  background-color: color(primary);
  transition: right 0.5s;

  @include response(xl) {
    width: 50vw;
  }
  @include response(l) {
    width: 100vw;
    top: 12rem;
    height: 15rem;
  }
}

.modal--open {
  right: 0;
}
.modal--close {
  @include response(xl) {
    right: -65vw;
  }
  @include response(l) {
    right: -100vw;
  }
  right: -45vw;
}

.add {
  margin-top: 2rem;
}

.input--date {
  height: 3rem;
  padding-left: 2rem;
  margin: 0 2rem 0 4rem;
  width: 20rem;
  font-size: size(s);
  color: color(supportone);
  @include response(xl) {
    margin: 0 1rem 0 1rem;
    width: 17rem;
  }
  @include response(m) {
    width: 13rem;
    font-size: size(xs);
  }
}

.input--add {
  padding-left: 2rem;

  width: 20rem;
  height: 3rem;
  font-size: size(s);
  color: color(supportone);
  @include response(xl) {
    margin: 0 1rem 0 1rem;
    width: 17rem;
  }
  @include response(m) {
    width: 13rem;
    font-size: size(xs);
  }
}
.close--modal-cancel {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  padding-top: 1rem;
}

.close--modal {
  text-align: center;
  font-size: size(l);
  padding-right: 1rem;
  padding-top: 1rem;
  cursor: pointer;
  color: color(white);
  padding-right: 5rem;
}

.btn--add {
  width: 10rem;
  height: 3rem;
  border-radius: 10rem;

  background-color: color(supportthree);

  @include center;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  @include shadow;
  &:active {
    @include btn-active;
  }
}

.counterContainer {
  margin-top: 0.5rem;
  margin-left: 40rem;
  color: color(supportone);
  font-size: size(s);
  @include response(xl) {
    margin-left: 32rem;
  }
  @include response(xl) {
    margin-left: 23rem;
  }
}
