.right--layout {
  position: relative;
}

.map--container {
  margin: 1 rem 0;
  position: relative;
}

#map {
  width: 60vw;
  height: 70vh;
  z-index: 0;
  @include response(xl) {
    width: 50vw;
  }
  @include response(l) {
    width: 100vw;
  }
  @include response(m) {
    height: 100vh;
  }
}

.map--cover {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 60vw;
  height: 70vh;
  opacity: 0.9;
  background-color: white;
  @include response(xl) {
    width: 50vw;
  }
  @include response(l) {
    width: 100vw;
  }
  @include response(m) {
    height: 100vh;
  }
}

.map--cover-p {
  position: absolute;
  top: 0;
  color: color(supporttwo);
  font-size: size(xxl);
  width: 60vw;
  height: 70vh;
  z-index: 200;
  @include center;
  @include response(xl) {
    width: 50vw;
  }
  @include response(l) {
    width: 100vw;
  }
  @include response(m) {
    height: 100vh;
  }
}

.weather {
  position: relative;
  margin-top: 1rem;
  z-index: 500;
  width: 60vw;
  height: 14rem;
  background-color: color(white);
  margin-bottom: 1rem;
  @include response(xl) {
    width: 50vw;
  }
  @include response(l) {
    display: none;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid color(primary);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid color(supportthree);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.city {
  text-align: center;
  font-size: size(xl);
  padding-top: 1rem;
  color: color(secondary);
}

.temp--container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5vw;
  font-size: size(l);
  @include response(xl) {
    font-size: size(m);
    padding: 3rem 5vw;
  }
}

.temp {
  color: color(supportthree);
}
.wind {
  color: color(supporttwo);
}

.weather--icons {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.weather--icons img {
  width: 72px;
}
