@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn-active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@mixin shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
